/* ===== Google Font Import - Poppins and Playfair Display===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

// Global
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


//Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer * .75, //12px
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,   //32px
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5, //56px
  9: $spacer * 4,
  10: $spacer * 4,
  11: $spacer * 10,
);

//Typography
$font-size-root: 16px;
$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 3.8;
$h2-font-size:                $font-size-base * 3.0625;
$h3-font-size:                $font-size-base * 2.4375;
$h4-font-size:                $font-size-base * 1.9375;
$h5-font-size:                $font-size-base * 1.5625;
$h6-font-size:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * 0.8125; //Body Hint 13px
$btn-font-size:               $font-size-base;

h1,h2,h3,h4,h5,h6{
font-family: 'Playfair Display', serif;
}

// Font Weight
$font-weight-lighter:         400; //Regular
$font-weight-light:           500; //Medium
$font-weight-normal:          600; //Semi-bold
$font-weight-bold:            700; //Bold
$font-weight-bolder:          bolder; //Bolder
$font-weight-base:            $font-weight-lighter;

// Grid
$grid-columns:      12;
$grid-gutter-width: 2rem;

//Grid Breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//Container max-width
$container-max-widths: (
  sm: 378px,
  md: 570px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

//Button
$btn-padding-y: 12px;
$btn-padding-x: 24px;
$btn-border-radius: 150px;

//Shadow
$box-shadow:                  0px 2px 4px rgba(0, 0, 0, 0.24);
$box-shadow-sm:               0px 4px 8px rgba(0, 0, 0, 0.16);
$box-shadow-lg:               0px 16px 24px rgba(0, 0, 0, 0.12);

//Nav Bar
$navbar-padding-y:  12px;
$navbar-padding-x:  80px;
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px !important;
    }
}
$primary: #065473;
$secondary: #077099;

//Carousel
$carousel-indicator-width:           16px;
$carousel-indicator-height:          16px;
$carousel-indicator-spacer:          4px;
// $carousel-indicator-active-bg:       $primary;
$carousel-indicator-opacity:         .5;
$carousel-caption-color:             #000;
$carousel-caption-padding-y:         1.25rem; //20px
$carousel-caption-spacer:            0;

//forms
$input-height:              48px;
$input-border-radius:       16px;
$form-select-border-radius:       16px;
// $input-height:              56px;
// $input-height-sm:              56px;
// $input-height-lg:              56px;

.inputfield {
  height: 48px
}

//Cards
$card-border-radius:                20px;
$card-height:                       100%;

//Badge
$badge-font-size:                   $font-size-sm;
$badge-font-weight:                 $font-weight-bold;
// $badge-color:                       $white;
$badge-padding-y:                   5px;
$badge-padding-x:                   10px;
$badge-border-radius:               150px;

//Nav pills
$nav-link-font-size:                $h6-font-size;
$nav-link-font-weight:              $font-weight-normal;
$nav-link-color:                    #212529;

//Aspect Ration
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "4x1": calc(1 / 4 * 100%)
);

//Pagination
$pagination-padding-y:              12px;
$pagination-padding-x:              19px;
$pagination-border-width:           1px;
$pagination-border-radius:          5px;
$pagination-hover-color:            $primary;
$pagination-hover-bg:               $primary;
$pagination-focus-bg:               $primary;
// $pagination-hover-border-color:     $gray-300;

//List Group
$list-group-border-width:           0px;

//Custom Css
.pagination .page-link{
border-radius: 5px;
}
.pagination .page-link:focus,
.pagination .page-link:hover{
color: #fff !important;
}
ol, ul, dl{
margin-bottom: 0 !important;
}
.hero-img{
height: 607px;
    @media (max-width: 767.98px){
        height: 250px;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: $primary !important;
background-color: #f8f9fa !important;
border-bottom: 5px solid $primary !important;
border-radius: 0px !important;
}

.testimonial-page .col img,
.testimonials .owl-carousel .owl-item img{
width: 100px;
height: 100px;
}

.card:hover:not(.card.header-card) {
transform: translate(4px, -4px);
// box-shadow: -8px 8px 0 $primary;
transform: scale(1.1);
transition: .5s;
}

.card:not(.card.header-card) {
transition: .5s;
max-width: 415px;
    p {
    color: #666261;
    }
}


// header.card {
// border-radius: 0 !important;
// }
.carousel-caption{
height: 100%;
width: 50% !important;
right: 0 !important;
left: 0 !important;
text-align: left !important;
padding: 0px 80px 0px 80px;
background: linear-gradient(90.38deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0.9) 19.84%, rgba(255, 255, 255, 0.8) 41.05%, rgba(255, 255, 255, 0.75) 60.72%, rgba(255, 255, 255, 0.75) 79.86%, rgba(255, 255, 255, 0.02) 98.49%);
}

.carousel-indicators{
margin-right: 0 !important;
margin-bottom: 8px !important;
margin-left: 0 !important;
}

.carousel-indicators [data-bs-target]{
border-radius: 50%;
}

.img-dark-overlay{
background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.img-dark-overlay,
.card.header-card img,
.card.header-card{
padding: 0px;
border-radius: 0px !important;
border: none;
}



.custom-active{
font-weight: bold;
color: $primary !important;
border-bottom: 5px solid $primary;
}


@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #eaedf2;
  font-family: 'Roboto', sans-serif;
}

.fab-button{
z-index: 9999;
}

.fab-button .dropdown-menu{
background-color: transparent !important;
border: none !important;
min-width: initial !important;
-webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.fab-button .dropdown-menu.show a{
display:flex;
align-items:center;
justify-content:center;
}

.fab-button button {
border-radius: 50% !important;
width: 70px !important;
height: 70px !important;
// background-color: #0BA8E6 !important;
}

.fab-button a {
border-radius: 50% !important;
width: 50px !important;
height: 50px !important;
}

.fab-button i {
display:flex;
align-items:center;
justify-content:center;
height: 100%;
color:white;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active-reveal{
  transform: translateY(0px);
  opacity: 1;
}

.project-status-nav{
overflow-x: auto;
    &::-webkit-scrollbar {
  display: none;
    }
}

@import './scss/_functions.scss';
 @import './scss/_variables.scss';
 @import './scss/mixins/_breakpoints.scss';


@include media-breakpoint-down(lg){
.nav-link.custom-active{
    padding-left: 24px !important;
    }
    .custom-active{
    font-weight: bold;
    background-color: $primary !important;
    color: #fff !important;
    border-bottom: none;
    }
}

//Hero section
@include media-breakpoint-down(md){
    .hero-carousel .ratio-21x9{
    --bs-aspect-ratio: calc(4 / 4 * 100%);
    }

    .hero-carousel .carousel-caption {
    width: 100% !important;
    padding: 24px !important;
    background: rgba(255, 255, 255, 0.7) !important;
    }
    .hero-carousel .btn {
    padding: 16px 16px !important;
    }
    .carousel-indicators [data-bs-target]{
    width: 15px !important;
    height: 15px !important;
    }
    .navbar{
    padding-left: 8px !important;
    padding-right: 8px !important;
    }
    .card:not(.card.header-card)  {
transition: .5s;
max-width: 350px;

}
}

@include media-breakpoint-only(md){
    .hero-carousel .ratio-21x9{
    --bs-aspect-ratio: calc(9 / 16 * 100%); // 16x9
    }

    .navbar{
    padding-left: 32px !important;
    padding-right: 32px !important;
    }
}


@include media-breakpoint-only(lg){
    .navbar{
    padding-left: 24px !important;
    padding-right: 24px !important;
    }
    .navbar .me-2{
    margin-right: 0 !important;
    }
}

@include media-breakpoint-down(sm){

    .projects .nav.justify-content-center{
    justify-content: start !important;

    &::-webkit-scrollbar {
        display: none;
        }
    }
}
// .hero-carousel .ratio-21x9 {
//   @include media-breakpoint-only(md) {
//     --bs-aspect-ratio: calc(9 / 16 * 100%); // 16x9
//   }
// }


 @import './scss/bootstrap';


