{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block title %}
{{Projects.name}} - Rhynogreg CEC Limited
{% endblock %}

{% block content %}
<section class=" py-5 bg-light">
    <nav class="container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="d-inline-flex py-1 px-3 breadcrumb border border-1 border-primary fw-normal"
            style="border-radius: 20px;">
            <li class="breadcrumb-item">
                <a href="{% url 'home'%}" class="text-decoration-none">
                    <i class="fa-solid fa-house-chimney" style="margin-right: 4px;"></i>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'projects'%}" class="text-decoration-none">
                    Our Projects
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{Projects.name}}</li>
        </ol>
    </nav>
</section>

<section class="py-6">
    <section class="container">
        <section class="row">
            <section class="col-lg-9">

                <section class="mt-3">
                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for item in Projects.projectimage_set.all %}
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="{{item.pk}}"
                                    class="active"
                                    aria-current="true" aria-label="Slide {{item.pk}}"></button>
<!--                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1"-->
<!--                                    aria-label="Slide 2"></button>-->
<!--                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2"-->
<!--                                    aria-label="Slide 3"></button>-->
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for item in Projects.projectimage_set.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} ratio ratio-16x9 ">
                                <img src="{{item.image.url}}" class="img-fluid" alt="...">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <header class="mt-3">
                    <h2 class="text-primary fw-bolder">{{Projects.name}}</h2>
                    <section class="mt-2 text-primary">
                        <span class="badge rounded-pill bg-primary me-3 fw-bold">{{ Projects.status }}</span>
                        <time datetime="2021-12" class="me-3 fw-bold"><i class="fa-solid fa-calendar-days me-1"></i>
                            {{ Projects.date }}
                        </time>
                        <span class="fw-bold"><i class="fa-solid fa-tags me-1"></i>{{ Projects.category }}</span>
                    </section>
                </header>

                <section class="mt-4">
                    <p>{{Projects.description|safe}}</p>
                </section>

            </section>
            <section class="col-lg-3">

                {% if job_categories %}
                <section class="row ps-5 mb-5">
                    <div class="card border border-2 border-primary z-index-2 mx-auto py-0"
                         style="max-width: 415px; padding: 0px;">
                        <div class="card-header bg-primary text-white">
                            Project Category
                        </div>
                        <div class="list-group">
                            {% for category in job_categories%}
                            <a href="{% url 'projects-categories' category.name %}" class="list-group-item list-group-item-action">{{category}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                {% endif %}

            </section>
        </section>

    </section>
</section>


{% include 'clients-list.html' %}

{% include 'services-list.html' %}

{% endblock content %}