<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
Hello {{name}},

Thank you for contacting us. Our Business Development Representative will get in touch with you shortly after reviewing your requested Quotation.

If you would like to speak to someone immediately, feel free to email us at glaw24h@gmail.com or call at +2348061284530.

Note: With your permission, we would like to keep your information in the event of any further communication or requirements. If you wish us to Delete/Edit the information we gathered, please reply to this email.

--
This e-mail was sent from Rhynogreg CEC.
    Thank you.
</pre>
</body>
</html>